<div class="register-container">
  <div class="registerSubContainer">
    <span>
      Profile Page
      <button class="editButton" (click)="editUser()">Edit</button>
    </span>
  </div>
</div>

<div class="register-container">
  <div class="registerSubContainer" id="test">
    <table>
      <tr>
        <td>
          <span>
            Name:
            <span>
              {{ currentUser.userName }}
            </span>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span>
            Email:
            <span>
              {{ currentUser.email }}
            </span>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span>
            Contact:
            <span> {{ currentUser.contact }} </span>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span>
            Role:
            <span>
              {{ currentUser.role }}
            </span>
          </span>
        </td>
      </tr>
      <tr>
        Skills:
        <span>
          <span>{{ currentUser.skills }}</span>
        </span>
      </tr>
    </table>
  </div>
</div>