<div class="register-container">
    <div class="registerSubContainer">
        <span class="centered-text">
            User Details
            <button class="excelButton" (click)="exportAsExcel()">Export As Excel</button>
        </span>
    </div>
</div>
<div class="userGrid">
    <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection" [pageSize]="10"
        [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" [height]="400"
        [columnMenu]="{ filter: true }">

        <kendo-grid-column field="userName" [width]="200" title="Name"> </kendo-grid-column>
        <kendo-grid-column field="email" [width]="200" title="Email"> </kendo-grid-column>
        <kendo-grid-column field="skills" [width]="200" title="Skill"> </kendo-grid-column>
        <kendo-grid-column field="contact" [width]="200" title="Contact"> </kendo-grid-column>
        <kendo-grid-column title="Edit" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button class="k-button" (click)="editUser(dataItem)">Edit User</button>
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column title="ExportAsExcel" [width]="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button class="k-button" (click)="exportAsExcel()">Export as Excel</button>
            </ng-template>
        </kendo-grid-column> -->
    </kendo-grid>
</div>