<div class="register-container">
  <div class="registerSubContainer" id="test">
    <form [formGroup]="registrationForm" *ngIf="registrationForm">
      <table>
        <tr>
          <td>
            <label>
              Name:
              <input type="text" formControlName="userName" />
            </label>
          </td>
          <td>
            <label>
              Email:
              <input  readonly type="email"  formControlName="email"   />
            </label>
          </td>
          <td>
            <label>
              Contact:
              <input type="text" formControlName="contact" />
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label>
              Role:
              <select  formControlName="role" >
                <option  value="user" selected="role"> Admin</option>
                <option  value="admin" selected="role">User</option>
              </select>
            </label>
          </td>
        </tr>
        <td>
          <label>Skills:</label>
            <div formGroupName="skills" class="checkbox-container">
              <label
                ><input type="checkbox" formControlName="HTML" />HTML
              </label>
              <label><input type="checkbox" formControlName="CSS" />CSS </label>
              <label>
                <input
                  type="checkbox"
                  formControlName="JavaScript"/>JavaScript
              </label>
              <label
                ><input
                  type="checkbox"
                  formControlName="Angular"
                />Angular</label
              >
              <label
                ><input type="checkbox" formControlName="React" />React</label
              >
              <label><input type="checkbox" formControlName="Vue" />Vue</label>
            </div>
        </td>
      </table>
      <button type="submit" (click)="updateUser()">Update</button>
    </form>
  </div>
</div>
